*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 12px;
    transition: 0.4s;
    cursor: default;
}


/* Page Design */

.titleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomInfo{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.bottomText{
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.logoBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoTextContainer{
    overflow: hidden;
}

#logoText{
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    color: white;
    transform: translateX(-250px);
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1); 
}

.navbar nav .logo{
    width: 50px;
    transition: 0.4s;
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1;
    border-radius: 0px 0px 20px 20px;
}
.navbar nav{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.hoverBig{
    color: white;
    text-decoration: none;
    transition: 0.4s;
    font-size: 20px;
}

.hoverBig:hover{
    text-shadow: 0px 0px 10px #000;
    color: white;
}

.hoverBig:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 105%;
    transform: scaleX(0) skew(-20deg);
    left: -2.5%;
    bottom: -3px;
    border-radius: 10px;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

.hoverBig:hover:after{
    transform: scaleX(1) skew(-20deg);
}

.capsuleLogo{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

/* Dashboard Design */

.title{
    font-size: 35px;
    color: white;
}

.subtitle{
    font-size: 15px;
    color: rgb(255,234, 0);
    letter-spacing: 15px;
    text-indent: 15px;
    font-weight: 700;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(Image-Assets/RSX2024Dashboard-BG.jpg);
    position: relative;
    padding: 75px 2% 45px 2%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.boxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 0.25% 0px;
    padding: 0.25%;

}

.box{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    height: 100%;
    margin: 0.25%;
    padding: 0.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1{
    width: 70%;
}

#box2{
    width: 30%;
}

.box2Content, .boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.boxBottom{
    width: 25%;
}

.boxTitle{
    background-color: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.boxTitle:hover{
    text-shadow: 0px 0px 10px rgba(255,255,0,0.5);
}

/* Mission Status */

.stageContainer{
    display: flex;
    width: 100%;
}

.stageBox{
    width: 20%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5% 5% 0.5% 5%;
    border-radius: 15px;
    font-size: 1vw;
    color: black;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#stageBox1{
    background-color: rgba(255,255,255,0.5);
}

#stageBox2{
    background-color: rgba(0,230,0,1);
    box-shadow: 0px 0px 10px rgba(0,230,0,0.5);
}

#stageBox3{
    background-color: rgba(255,127,0,1);
    box-shadow: 0px 0px 10px rgba(255,127,0,0.5);
}

#stageBox4{
    background-color: rgba(230,0,0,1);
    box-shadow: 0px 0px 10px rgba(230,0,0,0.5);
}

.timeContainer{
    display: flex;
    width: 100%;
}

.timeText{
    width: 20%;
    height: 20px;
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 2.5% 5%;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.startButton{
    width: 90%;
    height: 25px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
}

.startText{
    letter-spacing: 5px;
    font-style: italic;
    font-weight: 700;
}

.capStatContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: top;
}

.capStatBox{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 15px 0px;
    align-items: center;
}

.capStatDot{
    background-color: rgba(230,0,0,1);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

#capStatDot2{
    background-color: rgba(255,127,0,1);
}

#capStatDot3{
    background-color: rgba(0,230,0,1);
}

.capStatText{
    font-size: 30px;
}

.box4Content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.outerCircle{
    height: 16vw;
    width: 16vw;
    border-radius: 100%;
    outline: 5px solid white;
    stroke: 5px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0) 3vw, rgba(79, 172, 254, 0.5) 3vw, rgba(13, 94, 165, 0.5));
}

.innerCircle{
    height: 6vw;
    width: 6vw;
    border-radius: 100%;
    background-color: none;
    outline-width: 0px; 
    outline-style: solid;
    outline-color: #4facfe;
    box-shadow: 0px 0px 1000px #4facfe;
}

.magNumber{
    position: fixed;
    color: white;
    font-size: 5vw;
    text-shadow: 0px 0px 10px black;
}

@keyframes spinLogo{
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes reverseLogo{
    0% {rotate: 360deg;}
    100% {rotate: 0deg;}
}

@keyframes slideText {
    0% {transform: translateX(-250px)}
    100% {transform: translateX(0px)}
}

@keyframes hideText {
    0% {transform: translateX(0px)}
    100% {transform: translateX(-250px)}
}

@keyframes hideElements {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes showElements {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.capStatNum{
    font-weight: 500;
    font-size: 30px;
}

.capStatAltBox{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 15px 0px;
    align-items: center;
}


.atmosphericLayerContainer{
    width: 85%;
    height:100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layerDivider{
    width: 100%;
    height: 3px;
    margin: 7px;
    background-color: white;
}

.atmosphericLayerContainer p{
    align-self: normal;
    color:white;
    font-weight: 300;
}


.capLogoAltBox{
    background-color: none;
    width: 240px;
    position: fixed;
    bottom: 76px;
    left: 1125px;
    display: flex;
    padding: 1px;
    justify-content: space-between;
}

.capLogoAlt{
    width: 15px;
    height: 15px;
}

#capLogoAlt1{
    position: relative;
    bottom: 35px;
}

#capLogoAlt2{
    position: relative;
    bottom: 65px;
}

#capLogoAlt3{
    position: relative;
    bottom: 97px;
}

.sliderContainer{
    background-color: none;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderBox{
    width: 75%;
}

.sliderBox input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.sliderBox input{
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.75);
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.sliderBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderRange{
    color: white;
    font-weight: 500;
    margin: 10px;
}

.sliderValue{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.sliderNum{
    color: white;
    font-size: 20px;
    margin: 0 5px;
}

/* PRESSURE BOX */

.pressureMeterContainer{
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pressureMeterBox{
    background-color: none;
    height: 90%;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pressureMeterLogoBox{
    margin: 0 0 0 0;
}

.pressureMeterCapsuleLogo{
    width: 30px;
    height: 30px;
}

.pressureTextBox{
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pressureText{
    font-size: 20px;
    font-weight: 500;
}

.pressureUnit{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


.pressureMeter{
    background-color: none;
    height: 100%;
    width: 100%;
    margin: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    outline: rgba(255, 255, 255, 0.25) 2px solid;
}

.pressureMeterFill{
    width: 100%;
    height: 30%;
    background-color: rgba(0,230,0,1);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,230,0, 0.5);
}

.pressureMeterFillBox{
    width: 100%;
    height: 100%;
}

/* TEMPERATURE BOX */

.temperatureMeterContainer{
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperatureMeterBox{
    background-color: none;
    height: 17%;
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatureMeterLogoBox{
    margin: 0 1vw 0 0;
}

.temperatureMeterCapsuleLogo{
    width: 30px;
    height: 30px;
}

.temperatureText{
    justify-self: center;
    position: fixed;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.temperatureMeter{
    background-color: none;
    height: 100%;
    width: 80%;
    margin: 2.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline: rgba(255, 255, 255, 0.25) 2px solid;
}

.temperatureMeterFill{
    width: 30%;
    height: 100%;
    background-color: rgba(230,0,0,1);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(230,0,0,0.5);
}

.temperatureMeterFillBox{
    width: 100%;
    height: 100%;
}