*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 12px;
    transition: 0.4s;
    cursor: default;
}

:root{
    --rsxGreen: rgb(0,230,0);
    --rsxRed: rgba(230,0,0,1);

    --timerStateColor: rgba(255, 255, 255, 1);

    --timerHoverColor: rgba(0, 0, 0, 1); 
    --timerNoHoverColor: rgba(255, 255, 255, 1); 

    --barSize: 6vw;
    --barThickness: 0.6vw;
}


/* PAGE DESIGN */

.titleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCircle{
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin: 0px 20px;
}

.buttonCircle:hover{
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.bottomInfo{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.bottomText{
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    margin: 0.6vw;
}

.logoBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoTextContainer{
    overflow: hidden;
}

#logoText{
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    color: white;
    transform: translateX(-250px);
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1); 
}

.navbar nav .logo{
    width: 50px;
    height: 50px;
    transition: 0.4s;
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1;
    border-radius: 0px 0px 20px 20px;
}
.navbar nav{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}

.hoverBig{
    color: white;
    text-decoration: none;
    transition: 0.4s;
    font-size: 20px;
}

.hoverBig:hover{
    text-shadow: 0px 0px 10px #000;
    color: white;
}

.hoverBig:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 105%;
    transform: scaleX(0) skew(-20deg);
    left: -2.5%;
    bottom: -3px;
    border-radius: 10px;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
}

.hoverBig:hover:after{
    transform: scaleX(1) skew(-20deg);
}

.capsuleLogo{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

@keyframes spinLogo{
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

@keyframes reverseLogo{
    0% {rotate: 360deg;}
    100% {rotate: 0deg;}
}

@keyframes slideText {
    0% {transform: translateX(-250px)}
    100% {transform: translateX(0px)}
}

@keyframes hideText {
    0% {transform: translateX(0px)}
    100% {transform: translateX(-250px)}
}

@keyframes hideElements {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes showElements {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* DASHBOARD DESIGN */

.title{
    font-size: 35px;
    color: white;
}

.subtitle{
    font-size: 15px;
    color: rgb(255,234, 0);
    letter-spacing: 15px;
    text-indent: 15px;
    font-weight: 700;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../Image-Assets/RSX2024Dashboard-BG.jpg);
    position: relative;
    padding: 75px 2% 45px 2%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.boxContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 0.25%;

}

#dashRow1{
    margin: 0.25% 0 0 0;
}

#dashRow2{
    margin: 0 0 0.25% 0;
}

.box{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    height: 100%;
    margin: 0.25%;
    padding: 0.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1{
    width: 70%;
}

#box2{
    width: 30%;
}

.MisStatBoxContent, .PresBoxContent, .MagBoxContent, .TempBoxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.boxBottom{
    width: 25%;
}

.boxTitle{
    background-color: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.boxTitle:hover{
    text-shadow: 0px 0px 10px rgba(255,255,0,0.5);
}

/* SULFUR DIOXIDE */

.SO2BoxContent{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.SO2BarContainer{
    color: white;
    width: calc(var(--barSize)*2);
    height: var(--barSize);
    display: inline-block;
    margin: 75px 0;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: none;
}

.SO2Num{
    font-size: calc(var(--barSize)*0.45);
    font-weight: 900;
}

.SO2Unit{
    font-size: calc(var(--barSize)*0.2);
    font-weight: 500;
}

.SO2BarBox{
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 5%;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.SO2BarContainer:before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: 0 0 0 0;
    padding: calc(var(--barThickness) - 0px) calc(var(--barThickness) - 0px) 0 calc(var(--barThickness) - 0px);
    border-radius: var(--barSize) var(--barSize) 0 0;
    border-bottom: 0;
    background: var(--c, conic-gradient(from 270deg at 50% 100%, red 0%, blue 50%, rgba(0, 0, 0, 0) 50%));
    -webkit-mask: 
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}


.axisLabel{
    fill: white;
    font-weight: 800;
    opacity: 0.5;
}

.tick text{
    font-weight: 500;
    font-size: 10px;
}

/* MISSION STATUS */

.stageContainer{
    display: flex;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5% 0 0 0
}

.stageBox{
    width: 20%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 5% 0% 5%;
    border-radius: 15px;
    font-size: 1vw;
    color: black;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#stageBox1{
    background-color: rgba(255,255,255,0.5);
}

#stageBox2{
    background-color: var(--rsxGreen);
    box-shadow: 0px 0px 10px rgba(0,230,0,0.5);
}

#stageBox3{
    background-color: rgba(255,127,0,1);
    box-shadow: 0px 0px 10px rgba(255,127,0,0.5);
}

#stageBox4{
    background-color: var(--rsxRed);
    box-shadow: 0px 0px 10px rgba(230,0,0,0.5);
}

.timeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

.timeText{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 0% 5%;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

.timerControlsContainer{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 4%;
}

.missionTimer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.startButton{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: var(--timerStateColor) 3px solid;
    background-color: rgba(255,255,255,0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.startText{
    letter-spacing: 5px;
    font-style: italic;
    font-weight: 700;
    z-index: 1;
    cursor: pointer;
    transition: 0.8s;
    color: white;
}

.startCircle{
    background-color: var(--timerStateColor);
    width: 0vmax;
    height: 0vmax;
    border-radius: 100%;
    z-index: 0;
    position: absolute;
    cursor: pointer;
    transition: 0.8s;
}

.restartTimerButton{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: white 3px solid;
    position: relative;
    cursor: pointer;
}

.restartArrow{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.capStatContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    justify-content: space-between;
}

.capStatBox{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 1vh 0px;
    align-items: center;
}

#capStatBox1{
    margin: 0 0 1vh 0;
}

.capStatDot{
    background-color: var(--rsxRed);
    border-radius: 100%;
    height: 3vh;
    width: 3vh;
}

#capStatDot2{
    background-color: rgba(255,127,0,1);
}

#capStatDot3{
    background-color: var(--rsxGreen);
}

.capStatText{
    font-size: 3vh;
}

/* PRESSURE */

.pressureMeterContainer{
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pressureMeterBox{
    background-color: none;
    height: 90%;
    width: 20%;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pressureMeterLogoBox{
    margin: 0 0 0 0;
}

.pressureMeterCapsuleLogo{
    width: 30px;
    height: 30px;
}

.pressureTextBox{
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pressureText{
    font-size: 20px;
    font-weight: 500;
}

.pressureUnit{
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


.pressureMeter{
    background-color: none;
    height: 100%;
    width: 100%;
    margin: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 15px;
    outline: rgba(255, 255, 255, 0.25) 2px solid;
}

.pressureMeterFill{
    width: 100%;
    height: 30%;
    background-color: var(--rsxGreen);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,230,0, 0.5);
}

.pressureMeterFillBox{
    width: 100%;
    height: 100%;
}

/* MAGENTOSPHERE */

.MagBoxContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.outerCircle{
    height: 30vmin;
    width: 30vmin;
    border-radius: 100%;
    outline: 5px solid white;
    stroke: 5px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0) 3vw, rgba(79, 172, 254, 0.5) 3vw, rgba(13, 94, 165, 0.5));
}

.innerCircle{
    height: 10vmin;
    width: 10vmin;
    border-radius: 100%;
    background-color: none;
    outline-width: 0px; 
    outline-style: solid;
    outline-color: #4facfe;
    box-shadow: 0px 0px 1000px #4facfe;
}

.magNumber{
    position: fixed;
    color: white;
    font-size: 10vmin;
    text-shadow: 0px 0px 10px black;
}

.capStatNum{
    font-weight: 500;
    font-size: 30px;
}

/* ALTITUDE */

.AltBoxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.capStatAltContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45%;
    margin: 0 0 5% 0;
    justify-content: space-between;

}

.capAltStatBox{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 100%;

}

.capAltStatText{
    font-size: 3vh;
}

.capAltStatData{
    font-size: 2vh;
    font-weight: 500;
}

.atmosphericLayerTable{
    text-align: left;
    border-collapse: collapse;
    width: 90%;
    height: 50%;
}

.atmosphericLayerRow{
    border-bottom: 2px solid white;
}

.atmosphericLayerRow:last-of-type{
    border: 0;
}

.atmosphericLayerHeader{
    color: white;
    font-weight: 500;
    padding: 0px 10px 0 0px;
    width: 40%;
}

.atmosphericLayerCell{
    color: white;
    font-weight: 500;
    width: 20%;
    height: 20%;
    text-align: center;
}

.atmosphericLayerCellImage{
    width: 20px;
    height: 20px;
}

/* SLIDER */

.sliderContainer{
    background-color: none;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderBox{
    width: 75%;
}

.sliderBox input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: white;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    cursor: grab;
}

.sliderBox input::-webkit-slider-thumb:active{
    cursor: grabbing;
}

.sliderBox input{
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.75);
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.sliderBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderRange{
    color: white;
    font-weight: 500;
    margin: 10px;
}

.sliderTime{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sliderNumInput{
    color: white;
    font-size: 12px;
    margin: 0 5px;
    background: none;
    height: 18px;
    width: 60px;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    border-radius: 3px;
    outline: none;
    text-align: center;
    cursor: text;
}

.sliderNumInput::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* TEMPERATURE */

.temperatureMeterContainer{
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperatureMeterBox{
    background-color: none;
    height: 17%;
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperatureMeterLogoBox{
    margin: 0 1vw 0 0;
}

.temperatureMeterCapsuleLogo{
    width: 30px;
    height: 30px;
}

.temperatureText{
    justify-self: center;
    position: fixed;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.temperatureMeter{
    background-color: none;
    height: 100%;
    width: 80%;
    margin: 2.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    outline: rgba(255, 255, 255, 0.25) 2px solid;
}

.temperatureMeterFill{
    width: 30%;
    height: 100%;
    background-color: var(--rsxRed);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(230,0,0,0.5);
}

.temperatureMeterFillBox{
    width: 100%;
    height: 100%;
}

.nonClickable{
    pointer-events: none;
}

#testNumber{
    font-size: 30px;
    color: white;
}

.randomNumberThing{
    font-size: 100px;
    color: white;
}